<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/Voting-box.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Oct 2015</h4>
                                    <h4 class="subheading">Our Humble Beginnings</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">First hackathon that we competed as OneUp. Successfully launched "VoteUp - Myanmar 2015 Election Assistant App"!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/.android_news.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>April 2016</h4>
                                    <h4 class="subheading">First Commercial Android Application is launched</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We have successfully launched Xinhua Myanmar Android Application! It is the news app based on the very rich resources of all media dissemination of news and information by Xinhua News Agency. All contents are then accurately selected and reprocessed into Myanmar language for readers.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2017</h4>
                                    <h4 class="subheading">Winner for "Innovation Marketplace Event - Civic Tech"</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We have competed and achieved first prize winner for "Innovation Marketplace Event - Civic Tech" organized by FHI360, USAID and Phandeeyar. It is a messenger chat-bot for providing Myanmar government related info to public citizens easily and efficiently.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2017</h4>
                                    <h4 class="subheading">Hotel Management System - Web Application!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We have proficiently delivered phase one of our Hotel Management System. It is the system to help the hotel operation team with inventory management, sale records, checkin-checkout processes.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>